PAYPAL_CLIENT_ID=tu_client_id
PAYPAL_CLIENT_SECRET=tu_client_secret
PAYPAL_ENV=sandbox
PAYPAL_CURRENCY=EUR
NEXT_PUBLIC_META_PIXEL_ID=tu_pixel_id
DATABASE_URL=postgres://usuario:password@host:5432/database
PORT=3000
